@page
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Mvc.RazorPages;

@attribute [Authorize]
@model ThAmCo.Events.Pages.Guests.DetailsModel

@{
	ViewData["Title"] = "Guest Details";
}

<div class="page-container">
	<div class="card">
		<div class="card-header">
			<h1 class="card-title">@Model.Guest.FirstName @Model.Guest.LastName</h1>
		</div>

		<div class="card-body">
			<div class="row">
				<div class="col-md-6">
					<h3>Guest Information</h3>
					<div class="list-item">
						<span class="card-label">First Name</span>
						<span class="card-value">@Model.Guest.FirstName</span>
					</div>
					<div class="list-item">
						<span class="card-label">Last Name</span>
						<span class="card-value">@Model.Guest.LastName</span>
					</div>
					<div class="list-item">
						<span class="card-label">Email</span>
						<span class="card-value">@Model.Guest.Email</span>
					</div>
				</div>

				<div class="col-md-6">
					<h3>Event Bookings</h3>
					<div class="list-item">
						<span class="card-label">Total Events</span>
						<span class="card-value">@Model.Bookings.Count()</span>
					</div>

					<h3 class="mt-3">Upcoming Events</h3>
					@if (Model.Bookings.Any())
					{
						<table class="table">
							<thead>
								<tr>
									<th>Event Name</th>
									<th>Location</th>
									<th>Date</th>
									<th>Actions</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var booking in Model.Bookings)
								{
									<tr>
										<td>@booking.Event.Name</td>
										<td>@booking.Event.Location</td>
										<td>@booking.Event.Date.ToShortDateString()</td>
										<td>
											<div class="action-group">
												<div class="action-group">
													<a asp-page="../Events/Details" asp-route-id="@booking.EventId" class="btn btn-info">
														View Event
													</a>
												</div>
											</div>
										</td>
									</tr>
								}
							</tbody>
						</table>
					}
					else
					{
						<div class="alert warning-alert">
							This guest is not booked for any upcoming events.
						</div>
					}
				</div>
			</div>
		</div>

		<div class="card-footer">
			<div class="action-buttons">
				<a asp-page="./Edit" class="btn btn-primary" asp-route-id="@Model.Guest.GuestId">
					Edit Guest
				</a>
				<a asp-page="./Index" class="btn btn-secondary">
					Back to List
				</a>
			</div>
		</div>
	</div>

	<div class="card">
		<div class="card-body">
			<div class="row">
				<div class="full-width">
					<h3>Past Bookings</h3>
					<div class="list-item">
						<span class="card-label">Total Events</span>
						<span class="card-value">@Model.PastBookings.Count()</span>
					</div>

					@if (Model.PastBookings.Any())
					{
						<table class="table">
							<thead>
								<tr>
									<th style="width: 5%; text-align: center">Attendance</th>
									<th style="width: 10%">Event Name</th>
									<th style="width: 10%">Location</th>
									<th class="full-width">Date</th>
									<th>Actions</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var booking in Model.PastBookings)
								{
									<tr>
										<td style="text-align: center">
											<input checked="@booking.Event.GuestBookings.FirstOrDefault(gb=>gb.GuestId == Model.Guest.GuestId).DidAttend" type="checkbox"  />
										</td>
										<td>@booking.Event.Name</td>
										<td>@booking.Event.Location</td>
										<td>@booking.Event.Date.ToShortDateString()</td>
										<td>
											<div class="action-group">
												<div class="action-group">
													<a asp-page="../Events/Details" asp-route-id="@booking.EventId" class="btn-details">
														View Event
													</a>
												</div>
											</div>
										</td>
									</tr>
								}
							</tbody>
						</table>
					}
					else
					{
						<div class="alert warning-alert">
							This guest has not had any previous event bookings
						</div>
					}
				</div>
			</div>
		</div>
	</div>
</div>
