@page
@model ThAmCo.Events.Pages.Events.DetailsModel

@{
    ViewData["Title"] = "Events Details";
}

<div class="mx-5 mt-5">
    <div class="mb-5">
        <h1 class="display-4">Event Details</h1>
        <p class="lead">View the details for this event.</p>
    </div>

    <div class="card shadow-sm mb-4">
        <div class="card-body">
            <h4 class="card-title mb-3">Event Information</h4>
            <dl class="row">
                <dt class="col-sm-3 font-weight-bold">@Html.DisplayNameFor(model => model.Event.Name)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Event.Name)</dd>
                <dt class="col-sm-3 font-weight-bold">@Html.DisplayNameFor(model => model.Event.Date)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Event.Date)</dd>
                <dt class="col-sm-3 font-weight-bold">@Html.DisplayNameFor(model => model.Event.Location)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Event.Location)</dd>
                <dt class="col-sm-3 font-weight-bold">@Html.DisplayNameFor(model => model.Event.GuestBookings)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Event.GuestBookings.Count)</dd>
                <dt class="col-sm-3 font-weight-bold">@Html.DisplayNameFor(model => model.Event.Staffings)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Event.Staffings.Count)</dd>   
            </dl>
            @if (Model.IsUnderStaffed)
            {
                <div class="alert alert-danger">@Model.UnderStaffAlertText</div>
            }
        </div>
    </div>

    @if (Model.Event.Staffings.Any())
    {
        <h4 class="card-title mb-3">Staffing</h4>
        <ul class="list-group">
            @foreach (var staff in Model.Event.Staffings)
            {
                <li class="list-group-item d-flex justify-content-between">
                    @staff.Staff.FirstName @staff.Staff.LastName
                    <a asp-page="/Staff/Details" asp-route-id="@staff.Staff.StaffId" class="btn btn-primary text-light">Details</a>
                </li>
            }
        </ul>
    }

    @if (Model.Event.GuestBookings.Any())
    {
        <h4 class="card-title mb-3 mt-3">Guests</h4>
        <ul class="list-group">
            @foreach (var booking in Model.Event.GuestBookings)
            {
                <li class="list-group-item d-flex justify-content-between">
                    @booking.Guest.FirstName @booking.Guest.LastName
                    <a asp-page="/Guests/Details" asp-route-id="@booking.Guest.GuestId" class="btn btn-primary text-light">Details</a>
                </li>
            }
        </ul>
    }

    <div class=" mt-4">
        <a asp-page="./Edit" class="btn btn-primary btn" asp-route-id="@Model.Event.EventId">
            <i class="bi bi-pencil-square"></i> Edit Event
        </a>
        <a asp-page="./Index" class="btn btn-secondary btn">
            <i class="bi bi-arrow-left-circle"></i> Back to List
        </a>
    </div>
</div>