@page
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Mvc.RazorPages;
@using ThAmCo.Events.Models

@model ThAmCo.Events.Pages.Events.EditModel
@{
	ViewData["Title"] = "Edit Event";
	bool isEventEditable = !Model.Event.IsCanceled && Model.Event.Date >= DateTime.Now.Date;
}

<div class="page-container">
	<div class="header">
		<h1>Edit Event</h1>
		<p>@Model.Event.Date.ToShortDateString()</p>
	</div>

	<div class="card">
		<h4 class="card-title">Event Information @(Model.Event.IsCanceled ? "(Cancelled)" : "")</h4>
		<form method="post">
			<div asp-validation-summary="ModelOnly" class="alert error-alert"></div>
			<input type="hidden" asp-for="Event.EventId" />
			<input type="hidden" asp-for="Event.ReservationId" />
			<input type="hidden" asp-for="Event.EventTypeId" />
			<input type="hidden" asp-for="Event.Date" />
			<input type="hidden" asp-for="Event.FoodBookingId" />

			<div class="form-group">
				<label asp-for="Event.Name" class="card-label">Event Name</label>
				<input asp-for="Event.Name" required class="form-select" disabled="@(!isEventEditable)" />
				<span asp-validation-for="Event.Name" class="warning-alert"></span>
			</div>

			<div class="form-group">
				<label asp-for="Event.Location" class="card-label">Event Location</label>
				<input asp-for="Event.Location" required class="form-select" disabled="@(!isEventEditable)" />
				<span asp-validation-for="Event.Location" class="warning-alert"></span>
			</div>

			<div class="form-group">
				<label asp-for="Event.EventTypeId" class="card-label">Event Type</label>
				<input disabled asp-for="Event.EventTypeId" class="form-select" />
			</div>

			@* @if (isEventEditable && Model.Event.ReservationId == string.Empty)
			{
				<div class="form-group">
					<label class="card-label">Event Type</label>
					<select asp-for="Event.EventTypeId" class="form-select">
						<option value="">Select Event Type</option>
						@foreach (var type in Model.EventTypes)
						{
							<option value="@type.Id" selected="@(type.Id == Model.Event.EventTypeId)">@type.Title</option>
						}
					</select>
				</div>
			} *@

			@if (isEventEditable)
			{
				<div class="modal-footer">
					<button type="submit" class="btn btn-success">Save Changes</button>
					<a asp-page="Index" class="btn btn-secondary">Back to List</a>
				</div>
			}
		</form>
	</div>

	<div class="guests-staff-selection">

		<div class="card width-full">
			<div class="card-body">
				@if (isEventEditable)
				{
					@if (User.IsInRole("Team Leader") || User.IsInRole("Manager") || User.IsInRole("Super"))
					{
						<form asp-page-handler="CreateStaffing" method="post">
							<input type="hidden" name="eventId" value="@Model.Event.EventId" />
							<div class="form-group">
								<label for="staffList" class="card-label">Add Staff</label>
								<select id="staffList" name="staffId" class="form-select">
									<option value="">Select Staff</option>
									@foreach (var staff in Model.AvailableStaff)
									{
										<option value="@staff.StaffId">@staff.FirstName @staff.LastName</option>
									}
								</select>
							</div>
							<button type="submit" class="btn btn-success">Assign To Event</button>
						</form>
					}
				}

				<table class="table">
					<thead>
						<tr>
							<th>Staff Name</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var staff in Model.Event.Staffings)
						{
							<tr>
								<td>@staff.Staff.FirstName @staff.Staff.LastName</td>
								<td class="action-buttons">
									<a class="btn btn-info" asp-page="../Staff/Details" asp-route-id="@staff.StaffId">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
											<path stroke="#fff" stroke-width="2" d="M21 12c0 1.2-4.03 6-9 6s-9-4.8-9-6c0-1.2 4.03-6 9-6s9 4.8 9 6Z" />
											<path stroke="#fff" stroke-width="2" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
										</svg>
									</a>
									@if (isEventEditable)
									{
										<form method="post" class="d-flex" asp-page-handler="RemoveStaffing">
											<input type="hidden" name="eventId" value="@Model.Event.EventId" />
											<input type="hidden" name="staffId" value="@staff.Staff.StaffId" />

											<button type="submit" class=" btn btn-danger">
												<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
													<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z" />
												</svg>
											</button>
										</form>
									}
								</td>
							</tr>
						}
					</tbody>
				</table>

			</div>

		</div>

		<div class="card width-full">
			<div class="card-body">
				@if (isEventEditable)
				{
					@if (User.IsInRole("Team Leader") || User.IsInRole("Manager") || User.IsInRole("Super"))
					{
						<form asp-page-handler="CreateGuestBooking" method="post">
							<input type="hidden" name="eventId" value="@Model.Event.EventId" />
							<div class="form-group">
								<label for="guestList" class="card-label">Add Guest</label>
								<select id="guestList" name="guestId" class="form-select">
									<option value="">Select Guests</option>
									@foreach (var guest in Model.AvailableGuests)
									{
										<option value="@guest.GuestId">@guest.FirstName @guest.LastName</option>
									}
								</select>
							</div>
							<button type="submit" class="btn btn-success">Assign To Event</button>
						</form>
					}
				}


				<table class="table">
					<thead>
						<tr>
							<th>Guest Name</th>
							@if (Model.Event.Date < DateTime.Now.Date)
							{
								@if (User.IsInRole("Team Leader") || User.IsInRole("Manager") || User.IsInRole("Super"))
								{
									<th>Attended</th>
								}
							}
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var guestBooking in Model.Event.GuestBookings)
						{
							<tr>
								<td>@guestBooking.Guest.FirstName @guestBooking.Guest.LastName</td>
								@if (Model.Event.Date < DateTime.Now.Date)
								{
									@if (User.IsInRole("Team Leader") || User.IsInRole("Manager") || User.IsInRole("Super"))
									{
										<td>
											<form asp-page-handler="UpdateGuestAttendance" method="post" class="attendance-form" id="form-@guestBooking.GuestId">
												<input type="hidden" name="guestId" value="@guestBooking.GuestId" />
												<input type="hidden" name="eventId" value="@Model.Event.EventId" />
												<input type="checkbox"
												name="didAttend"
												@(guestBooking.DidAttend ? "checked" : "")
												onchange="submitForm(this)" />
											</form>
										</td>
									}
								}
								<td class="action-buttons">
									<a class="btn btn-info" asp-page="../Guests/Details" asp-route-id="@guestBooking.GuestId">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
											<path stroke="#fff" stroke-width="2" d="M21 12c0 1.2-4.03 6-9 6s-9-4.8-9-6c0-1.2 4.03-6 9-6s9 4.8 9 6Z" />
											<path stroke="#fff" stroke-width="2" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
										</svg>
									</a>
									@if (isEventEditable)
									{
										<form method="post" class="d-flex" asp-page-handler="CancelGuestBooking">
											<input type="hidden" name="eventId" value="@Model.Event.EventId" />
											<input type="hidden" name="guestId" value="@guestBooking.Guest.GuestId" />
											<button type="submit" class=" btn btn-danger">
												<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
													<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z" />
												</svg>
											</button>
										</form>
									}
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>

	</div>
	@if (isEventEditable)
	{
		<div class="card">
			<h4 class="card-title">Reservation Details</h4>
			@if (Model.Event.ReservationId == string.Empty)
			{
				@if (!Model.AvailableVenuesForEventDate.Where(x => x.Date == Model.Event.Date).Any())
				{
					<div class="alert warning-alert">No availabilities found for this event type.</div>
				}
				else
				{
					<div>
						<button type="button" id="openCreateReservationModal" class="btn btn-success">
							Create Reservation
						</button>
					</div>
				}
			}
			else
			{
				<table class="table">
					<thead>
						<tr>
							<th>Field</th>
							<th>Details</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Ref</td>
							<td>@Model.Reservation.Reference</td>
						</tr>
						<tr>
							<td>Event Date</td>
							<td>@Model.Reservation.EventDate.ToShortDateString()</td>
						</tr>
						<tr>
							<td>Venue</td>
							<td>@Model.Reservation.VenueCode</td>
						</tr>
						<tr>
							<td>Created</td>
							<td>@Model.Reservation.WhenMade</td>
						</tr>
					</tbody>
				</table>
				<form asp-page-handler="DeleteReservation" method="post">
					<input type="hidden" name="reservationId" asp-for="Event.ReservationId" />
					<input type="hidden" asp-for="Event.EventId" name="eventId" />
					<button type="submit" class="btn btn-danger">Delete</button>
				</form>
			}
		</div>
	}

	@if (isEventEditable)
	{
		<div class="card">
			<h4 class="card-title">Food Booking Details</h4>
			@if (Model.FoodBooking == null)
			{
				<div>
					<button type="button" class="btn btn-success" id="openBookMenuModal">
						Book Food
					</button>
				</div>
			}
			else
			{
				<form method="post" asp-page-handler="EditFoodBookingMenu">
					<input type="hidden" name="foodBookingId" value="@Model.FoodBooking.FoodBookingId" />
					<input type="hidden" name="eventId" value="@Model.Event.EventId" />
					<div class="form-group">
						<label class="card-label">Menu</label>
						<select name="menuId" class="form-select">
							<option value="">Select Menu</option>
							@foreach (var menu in Model.AvailableMenus)
							{
								<option value="@menu.MenuId" selected="@(menu.MenuId == Model.FoodBooking.MenuId)">@menu.MenuName</option>
							}
						</select>
					</div>
					<button type="submit" class="btn btn-secondary">
						Update Food Booking
					</button>
					<a asp-page="../Catering/Menus/Details" asp-route-id="@Model.FoodBooking.MenuId" class="btn btn-info">
						View Menu
					</a>
				</form>
				<form asp-page-handler="CancelFoodBooking" method="post" class="mt-1">
					<input type="hidden" name="foodBookingId" asp-for="Event.FoodBookingId" />
					<input type="hidden" asp-for="Event.EventId" name="eventId" />
					<button type="submit" class="btn btn-danger">
						Delete
					</button>
				</form>
			}
		</div>
	}

	@if (User.IsInRole("Team Leader") || User.IsInRole("Manager"))
	{

		<div class="card">
			<h4 class="card-title">Permanently delete event</h4>
			<span class="alert alert-danger">This action cannot be undone</span>
			<form asp-page-handler="PermDeleteEvent" method="post" class="mt-1">
				<input type="hidden" asp-for="Event.EventId" name="eventId" />
				<button type="submit" class="btn btn-danger">
					Delete
				</button>
			</form>
		</div>
	}
</div>


<div id="createReservationModal" class="modal" aria-hidden="true">
	<div class="modal-content">
		<div class="modal-header">
			<h2>Create New Event</h2>
			<button class="close-modal-btn" id="closeCreateReservationModal"></button>
		</div>
		<form method="post" asp-page-handler="CreateReservation">
			<input type="hidden" name="eventId" value="@Model.Event.EventId" />
			<input type="hidden" name="eventDate" value="@Model.Event.Date" />
			<div class="form-group">
				<label>Venue</label>
				<select name="venueCode" class="form-select">
					<option value="">Select Available Venue</option>
					@foreach (var avail in Model.AvailableVenuesForEventDate)
					{
						<option value="@avail.Code">@avail.Name - @avail.Date.Date.ToShortDateString()</option>
					}
				</select>
			</div>
			<div class="modal-footer">
				<button type="button" id="cancelCreateReservationModal" class="btn btn btn-secondary">Cancel</button>
				<button type="submit" class="btn btn-success">Reserve</button>
			</div>
		</form>
	</div>
</div>

<div class="modal " id="bookMenuModal" aria-hidden="true">
	<div class="modal-content">
		<div class="modal-header">
			<h2>Choose Menu</h2>
			<button class="close-modal-btn" id="closeBookMenuModal"></button>
		</div>
		<form method="post" asp-page-handler="CreateFoodBooking">
			<input type="hidden" asp-for="Event.EventId" name="eventId" />
			<div class="modal-body">
				<div class="form-group">
					<select class="form-select" name="menuId">
						<option value="">Select Menu</option>
						@foreach (var menu in Model.AvailableMenus)
						{
							<option value="@menu.MenuId">@menu.MenuName</option>
						}
					</select>
				</div>
			</div>
			<div class="modal-footer">
				<a class="btn btn btn-secondary" id="cancelBookMenuModal">Cancel</a>
				<button type="submit" class="btn btn-success">Book</button>
			</div>
		</form>
	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
<script>
	function submitForm(checkbox) {
		const form = checkbox.closest('form');
		const formData = new FormData(form);
		formData.set('didAttend', checkbox.checked);

		fetch(form.action, {
			method: 'POST',
			body: formData
		}).then(() => {
			window.location.reload();
		});
	}
</script>