@page

@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Mvc.RazorPages;

@attribute [Authorize]
@model ThAmCo.Events.Pages.Events.IndexModel

@{
	ViewData["Title"] = "Events List";
}

<div class="page-container">

	<header class="text-center my-4">
		<h1>Event Management</h1>
	</header>

	<section class="d-flex justify-content-between align-items-center mb-4">
		<a asp-page="/Events/ReserveVenue" class="btn btn-primary">
			Create New Event
		</a>
	</section>

	@if (Model.Events.Any())
	{
		<section class="card mb-4">
			<div class="card-header">
				<h5>Upcoming Events</h5>
			</div>
			<div class="card-body">
				<span class="badge bg-info text-light">@Model.Events.Count() events</span>
				<table class="table table-striped">
					<thead>
						<tr>
							<th style="width: 10%;">@Html.DisplayNameFor(model => model.Events[0].Name)</th>
							<th style="width: 10%;">@Html.DisplayNameFor(model => model.Events[0].Date)</th>
							<th style="width: 10%;">@Html.DisplayNameFor(model => model.Events[0].Location)</th>
							<th class="full-width">Attention</th>
							<th style="width: min-content">Actions</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model.Events)
						{
							<tr>
								<td>@item.Name</td>
								<td>@item.Date.ToShortDateString()</td>
								<td>@item.Location</td>
								<td>
									<div class="d-flex flex-wrap">
										@* @if (item.FoodBookingId != -1)
                                        {
                                            <span class="badge bg-info mx-1">Food Booked</span>
                                        } *@
										@* @if (item.ReservationId != "")
                                        {
                                            <span class="badge bg-success text-light mx-1">Venue Reserved</span>
                                        } *@
										@*                                        <span class="badge bg-primary mx-1 text-light">@item.GuestBookings.Count() Guests</span>
                                        <span class="badge bg-warning mx-1">@item.Staffings.Count() Staff</span> *@
										@if (!item.Staffings.Where(s => s.Staff.IsFirstAider).Any())
										{
											<span class="badge bg-danger text-light mx-1">No First Aider</span>
										}
									</div>
								</td>
								<td>
									<form method="post" class="d-flex" asp-page-handler="CancelEvent">
										<a class="btn btn-warning mx-1" asp-page="./Edit" asp-route-id="@item.EventId">
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
												<path stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565 6.844-6.844a2.015 2.015 0 0 1 2.852 0Z" />
											</svg>
										</a>

										<a class="btn btn-info mx-1" asp-page="./Details" asp-route-id="@item.EventId">
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
												<path stroke="#fff" stroke-width="2" d="M21 12c0 1.2-4.03 6-9 6s-9-4.8-9-6c0-1.2 4.03-6 9-6s9 4.8 9 6Z" />
												<path stroke="#fff" stroke-width="2" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
											</svg>
										</a>
										<input type="hidden" name="eventId" value="@item.EventId" />

										<button type="submit" class="mx-1 btn btn-danger">
											@* <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
												<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z" />
											</svg> *@
											Cancel
										</button>
									</form>
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</section>
	}

	@if (Model.PastAndCancelledEvents.Any())
	{
		<section class="card mb-4">
			<div class="card-header">
				<h5>Past and Cancelled Events</h5>
			</div>
			<div class="card-body">
				<table class="table table-striped">
					<thead>
						<tr>
							<th style="width: 10%;">@Html.DisplayNameFor(model => model.Events[0].Name)</th>
							<th style="width: 10%;">@Html.DisplayNameFor(model => model.Events[0].Date)</th>
							<th style="width: 10%;">@Html.DisplayNameFor(model => model.Events[0].Location)</th>
							<th style="width: 100%;">Attendees</th>
							<th style="width: min-content">Actions</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model.PastAndCancelledEvents)
						{
							<tr>
								@if (item.IsCanceled)
								{
									<td class="text-muted">@item.Name</td>
									<td class="text-muted">@item.Date.ToShortDateString()</td>
									<td class="text-muted">@item.Location</td>
									<td>
										<span class="badge bg-primary mx-1 text-light">@item.GuestBookings.Count() Guests</span>
										<span class="badge bg-info">@item.Staffings.Count() Staff</span>
									</td>
								}
								else
								{
									<td>@item.Name</td>
									<td>@item.Date.ToShortDateString()</td>
									<td>@item.Location</td>
									<td>
										<span class="badge bg-primary mx-1 text-light">@item.GuestBookings.Count() Guests</span>
										<span class="badge bg-warning">@item.Staffings.Count() Staff</span>
									</td>
								}
								<td class="d-flex">
									
										<a class="btn btn-warning mx-1" asp-page="./Edit" asp-route-id="@item.EventId">
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
												<path stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565 6.844-6.844a2.015 2.015 0 0 1 2.852 0Z" />
											</svg>
										</a>
									
									<a class="btn btn-info mx-1" asp-page="./Details" asp-route-id="@item.EventId">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
											<path stroke="#fff" stroke-width="2" d="M21 12c0 1.2-4.03 6-9 6s-9-4.8-9-6c0-1.2 4.03-6 9-6s9 4.8 9 6Z" />
											<path stroke="#fff" stroke-width="2" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
										</svg>
									</a>
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</section>
	}

	<div id="createEventModal" class="modal fade" tabindex="-1" aria-labelledby="createEventModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="createEventModalLabel">Create New Event</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<form method="post" asp-page-handler="CreateEventFromEventType">
					<div class="modal-body">
						<div class="mb-3">
							<label for="eventType" class="form-label">Event Type</label>
							<select class="form-select" id="eventType" name="eventTypeId" required>
								<option value="">Select Event Type</option>
								@foreach (var type in Model.EventTypes)
								{
									<option value="@type.Id">@type.Title</option>
								}
							</select>
						</div>
					</div>
					<div class="modal-footer">
						<a class="btn btn-secondary" asp-page="Create">Continue without reservation</a>
						<button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancel</button>
						<button type="submit" class="btn btn-primary">Next</button>
					</div>
				</form>
			</div>
		</div>
	</div>

</div>
