@page
@model ThAmCo.Events.Pages.Events.IndexModel
<link rel="stylesheet" href="../Pages/Events/Index.cshtml.css" />
@{
	ViewData["Title"] = "Events List";
}

<div class="page-container">

	<!-- Header Section -->
	<header class="header">
		<h1>Event Management</h1>
	</header>

	<!-- Create New Event and Events Count Section -->
	<section class="create-total-header">
		<button type="button" class="btn-create" id="openCreateModal">
			Create New Event
		</button>
		@if (Model.Events.Any())
		{
			<span class="count-span">@Model.Events.Count() events</span>
		}
	</section>

	<!-- No Events Warning Section -->
	@if (!Model.Events.Any())
	{
		<div role="alert" class="alert warning-alert">
			<strong>No events found.</strong> Click "Create New Event" to add your first event.
		</div>
	} else
	{
		<section class="card">
			<div class="card-header"><h1>Upcoming Events</h1></div>
			<table class="table">
				<thead>
					<tr>
						<th style="width: 10%;">@Html.DisplayNameFor(model => model.Events[0].Name)</th>
						<th style="width: 10%;">@Html.DisplayNameFor(model => model.Events[0].Date)</th>
						<th style="width: 10%;">@Html.DisplayNameFor(model => model.Events[0].Location)</th>
						<th style="width: 100%;">Tags</th>
						<th style="width: min-content;">Actions</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model.Events)
					{
						<tr>
							<td>@item.Name</td>
							<td>@item.Date.ToShortDateString()</td>
							<td>@item.Location</td>
							<td>
								<div class="event-tags">
									@if (item.FoodBookingId != -1)
									{
										<span class="badge first-aider ml-2">Food Booked</span>
									}
									@if (item.ReservationId != "")
									{
										<span class="badge first-aider ml-2">Venue Reserved</span>
									}
								</div>
							</td>
							<td class="person-row">
								<form method="post" class="action-buttons" asp-page-handler="CancelEvent">
									<a class="btn-edit" asp-page="./Edit" asp-route-id="@item.EventId">Edit</a>
									<a class="btn-details" asp-page="./Details" asp-route-id="@item.EventId">Details</a>
									<input type="hidden" name="eventId" value="@item.EventId" />
									<button type="submit" class="btn-cancel">Cancel</button>
								</form>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</section>
	}
	

	@if (Model.PastAndCancelledEvents.Any())
	{
		<section class="card">
			<div class="card-header"><h1>Past and Cancelled Events</h1></div>
			<table class="table">
				<thead>
					<tr>
						<th style="width: 10%;">@Html.DisplayNameFor(model => model.Events[0].Name)</th>
						<th style="width: 10%;">@Html.DisplayNameFor(model => model.Events[0].Date)</th>
						<th style="width: 10%;">@Html.DisplayNameFor(model => model.Events[0].Location)</th>
						<th class="full-width">Attendees</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model.PastAndCancelledEvents)
					{
						<tr>

							@if (item.IsCanceled)
							{

								<td class="cancelled">@item.Name</td>
								<td class="cancelled">@item.Date.ToShortDateString()</td>
								<td class="cancelled">@item.Location</td>
								<td>
									<span class="badge Manager ml-2">@item.GuestBookings.Count() Guests</span>
									<span class="badge Host ml-2">@item.Staffings.Count() Staff</span>
								</td>

							}
							else
							{

								<td>@item.Name</td>
								<td>@item.Date.ToShortDateString()</td>
								<td>@item.Location</td>
								<td>
									<span class="badge Manager ml-2">@item.GuestBookings.Count() Guests</span>
									<span class="badge Host ml-2">@item.Staffings.Count() Staff</span>
								</td>

							}
							<td class="person-row">
								<form method="post" class="action-buttons" asp-page-handler="CancelEvent">
									<a class="btn-edit" asp-page="./Edit" asp-route-id="@item.EventId">Edit</a>
									<a class="btn-details" asp-page="./Details" asp-route-id="@item.EventId">Details</a>
								</form>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</section>
	}


	<!-- Select Event Type Modal Section -->
	<div id="createEventModal" class="modal" aria-hidden="true">
		<div role="document" class="modal-content">
			<div class="modal-header">
				<h2>Create New Event</h2>
				<button class="close-modal-btn" id="closeCreateModal"></button>
			</div>
			<form method="post" asp-page-handler="CreateEventFromEventType">
				<div class="modal-body">
					<div class="form-group">

						<select class="form-select" id="eventType" name="eventTypeId" required>
							<option value="">Select Event Type</option>
							@foreach (var type in Model.EventTypes)
							{
								<option value="@type.Id">@type.Title</option>
							}
						</select>
					</div>
				</div>
				<div class="modal-footer">
					<a class="btn-info" asp-page="Create">Continue without reservation</a>
					<a class="btn-cancel" id="cancelCreateModal">Cancel</a>
					<div class="modal-footer">
						<button type="submit" class="btn-create">Next</button>
					</div>
				</div>
			</form>
		</div>
	</div>

</div>