@page
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Identity;
@using Microsoft.AspNetCore.Mvc.RazorPages;

@attribute [Authorize]
@model FoodItemsModel
@{
    ViewData["Title"] = "Food Items";
}

<div class="page-container">
    <header class="header">
        <h1>Food Items Management</h1>
    </header>

    <section class="create-total-header">
        <a asp-page="Create" class="btn btn-primary">Create New Food Item</a>
        @if (Model.FoodItems.Any())
        {
            <span class="count-span">@Model.FoodItems.Count() food items</span>
        }
    </section>

    @if (!Model.FoodItems.Any())
    {
        <div class="alert warning-alert" role="alert">
            <strong>No food items found.</strong> Click "Create New Food Item" to add your first food item.
        </div>
    }

    <section>
        <table class="table">
            <thead>
                <tr>
                    <th style="width: 10%">Name</th>
                    <th class="full-width">Description</th>
                    <th style="width: 10%">Unit Price</th>
                    <th style="width: min-content;">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.FoodItems)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Description</td>
                        <td>£@item.UnitPrice</td>
                        <td>
                            <form method="post" class="d-flex" asp-page-handler="DeleteFoodItem">
                                <a class="btn btn-warning btn-sm mx-1" asp-page="./Edit" asp-route-id="@item.FoodItemId">
                                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                        <path stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565 6.844-6.844a2.015 2.015 0 0 1 2.852 0Z" />
                                    </svg>
                                </a>

                                <a class="btn btn-info btn-sm mx-1" asp-page="./Details" asp-route-id="@item.FoodItemId">
                                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                        <path stroke="#fff" stroke-width="2" d="M21 12c0 1.2-4.03 6-9 6s-9-4.8-9-6c0-1.2 4.03-6 9-6s9 4.8 9 6Z" />
                                        <path stroke="#fff" stroke-width="2" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                                    </svg>
                                </a>
                                <input type="hidden" name="foodItemId" value="@item.FoodItemId" />
                                <button type="submit" class="btn btn-danger mx-1">
                                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z" />
                                    </svg>
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </section>
</div>