@page
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Mvc.RazorPages;

@attribute [Authorize]
@model ThAmCo.Events.Pages.Catering.FoodBookings.IndexModel
@{
    ViewData["Title"] = "Catering Dashboard";
}

<div class="page-container">
    <header class="header">
        <h1>Catering Management</h1>
    </header>

    <section class="create-total-header">
        <span class="badge badge-info ">@Model.UpcomingFoodBookings.Count() upcoming bookings</span>
    </section>

    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Upcoming Food Bookings</h3>
        </div>
        <div class="card-body">
            @if (!Model.UpcomingFoodBookings.Any())
            {
                <div class="alert warning-alert">
                    No upcoming food bookings found.
                </div>
            }
            else
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th style="width: 10%">Event Name</th>
                            <th style="width: 10%">Menu</th>
                            <th style="width: 10%">Date</th>
                            <th class="full-width">Guests</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var booking in Model.UpcomingFoodBookings)
                        {
                            <tr>
                                <td>@booking.EventName</td>
                                <td>@booking.MenuName</td>
                                <td>@booking.FoodBookingDate.ToString("dd MMM yyyy")</td>
                                <td>@booking.NumberOfGuests</td>

                                <td>
                                    <form method="post" class="d-flex" asp-page-handler="DeleteFoodBooking">
                                        <a class="btn btn-warning mx-1" asp-page="./Edit" asp-route-id="@booking.FoodBookingId">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                                <path stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565 6.844-6.844a2.015 2.015 0 0 1 2.852 0Z" />
                                            </svg>
                                        </a>

                                        <a class="btn btn-info mx-1" asp-page="./Details" asp-route-id="@booking.FoodBookingId">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                                <path stroke="#fff" stroke-width="2" d="M21 12c0 1.2-4.03 6-9 6s-9-4.8-9-6c0-1.2 4.03-6 9-6s9 4.8 9 6Z" />
                                                <path stroke="#fff" stroke-width="2" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                                            </svg>
                                        </a>
                                        <input type="hidden" name="foodBookingId" value="@booking.FoodBookingId" />

                                        <button type="submit" class="mx-1 btn btn-danger">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z" />
                                            </svg>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-header">
            <h3 class="card-title">Past Food Bookings</h3>
        </div>
        <div class="card-body">
            @if (!Model.PastFoodBookings.Any())
            {
                <div class="alert info-alert">
                    No past food bookings found.
                </div>
            }
            else
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>Event Name</th>
                            <th>Menu</th>
                            <th>Date</th>
                            <th>Guests</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var booking in Model.PastFoodBookings)
                        {
                            <tr>
                                <td>@booking.EventName</td>
                                <td>@booking.MenuName</td>
                                <td>@booking.FoodBookingDate.ToString("dd MMM yyyy")</td>
                                <td>@booking.NumberOfGuests</td>
                                <td>
                                    <a asp-page="/Catering/FoodBookings/Details" class="btn-details" asp-route-id="@booking.FoodBookingId">Details</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>